<% @favorites.each do |favorite| %>
<div class="fav-form">
	<%= form_for([favorite, favorite.comments.build]) do |f| %>
		<p>
		 <%= f.text_area :body, :class => 'fav-form-text' %>
		</p>
		<p>
		 <%= f.submit %>
		</p>
	<% end %>
</div>


<% favorite.comments.each do |comment| %>
  <p>
    <%= comment.body %>
  </p>
<% end %>

<% end %>
