<h1>Teach me to code</h1>
<p>Because YouTube is (often) your best resource</p>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  How it works
</button>

