<!-- Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                    	<%= render 'layouts/flash' %>

                        	<h2>What do you want to learn?</h2>
                        <!-- SEARCH BOX -->
                        	<div>
                        		<%= form_tag search_path, :method => 'get', class: 'form-group' do %>
                          		<p>
                          			<div class="search-field">
                            			<%= text_field_tag :search, params[:search], class: 'form-control', :placeholder => "e.g. Ruby on rails, Angular.js, etc." %>
                            		</div>
                        	    		<%= submit_tag "Search", class: "btn btn-lg btn-default vid-search" %>
                          	</p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Team Me How To Code</h2>
                <p>Add your about content here, find me in home/index.html (in views).</p>
            </div>
        </div>
    </section>


