
<% 1.upto(10).each do |n| %>
	<p>
		<% video_id = YouTubeAddy.extract_video_id ("#{ @results[n]["link"][0]["href"] } ") %>
		<embed width="420" src="http://www.youtube.com/embed/#{video_id}">
	</p>
<% end %>

