// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fav-form {
	min-height: 360px;
}

.fav-form-text {
	width: 375px;
	height: 115px;
}

.btn.video-favs {
	margin-bottom: 10px;
}

.video-favs {
	float: right;
}

/* Three divs side by side */
.custom-comment-form {
	float: left;
}

.custom-comment-form p {
	margin: 0px;
}

.videos {
	float: left;
}

.center-video-divs {
	display: table;
	margin: 0 auto;
}
