// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fav-form {
	min-height: 360px;
}

.fav-form-text {
	width: 375px;
	height: 115px;
}

.btn.video-favs {
	margin-bottom: 10px;
}