<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Teach me</span> how to code
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <% if current_page?(root_path) %>
                        <a class="page-scroll" href="#about">About</a>
                    <% end %>
                </li>
                <% if user_signed_in? %>
                <li>
                    <%= link_to "Favorites", user_favorites_path(current_user), method: :get, :class => 'navbar-link' %>                </li>
                <li>
                    <% if current_page?(user_favorites_path(current_user)) %>
                        <%= link_to "Search", root_path(current_user), method: :get, :class => 'navbar-link' %>
                    <% end %>
                </li>
                <li>
                    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                </li>
                <li>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
